* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/AbstractBufferedReaderBasedEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/AbstractEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/PhyloIOEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/PhyloIOWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/ReadWriteConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/events/ConcretePhyloIOEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/events/EventType.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/events/MetaInformationEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/events/PhyloIOEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/events/SequenceCharactersEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/events/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/formats/fasta/FASTAEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/formats/fasta/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/formats/nexus/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/formats/phylip/PhylipEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/formats/phylip/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyloio/package-info.java -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
test/data/Phylip/Interleaved.phy -text
test/data/Phylip/Interleaved3Blocks.phy -text
test/data/Phylip/InvalidCharacterCount.phy -text
test/data/Phylip/InvalidSequenceCount.phy -text
test/data/Phylip/MissingCharacterCount.phy -text
test/data/Phylip/NonInterleaved.phy -text
test/data/Phylip/RelaxedInterleaved3Blocks.phy -text
test/data/Phylip/TooManyCounts.phy -text
test/data/Test.fasta -text
test/lib/junit-4.9b1.jar -text
test/src/info/bioinfweb/phyloio/formats/fasta/FASTAEventReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/formats/phylip/PhylipReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/test/JPhyloIOTestTools.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/test/SplitTest.java -text svneol=unset#text/plain
