* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/AbstractBufferedReaderBasedEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/AbstractEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/JPhyloIOEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/JPhyloIOWriter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/ReadWriteConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/CharacterSetEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/CommentEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/ConcreteJPhyloIOEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/EventType.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/JPhyloIOEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/MetaInformationEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/SequenceCharactersEvent.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/events/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/fasta/FASTAEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/fasta/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/mega/MEGAEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/mega/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/nexus/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/phylip/AbstractPhylipEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/phylip/PhylipEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/phylip/SequentialPhylipEventReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/formats/phylip/package-info.java -text svneol=unset#text/plain
main/src/info/bioinfweb/jphyloio/package-info.java -text svneol=unset#text/plain
test/.classpath -text svneol=unset#text/plain
test/.project -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
test/data/MEGA/HLA-3Seq.meg -text
test/data/Phylip/Interleaved.phy -text
test/data/Phylip/Interleaved3Blocks.phy -text
test/data/Phylip/InvalidCharacterCount.phy -text
test/data/Phylip/InvalidSequenceCount.phy -text
test/data/Phylip/MissingCharacterCount.phy -text
test/data/Phylip/NonInterleaved.phy -text
test/data/Phylip/RelaxedInterleaved3Blocks.phy -text
test/data/Phylip/RelaxedSequential.phy -text
test/data/Phylip/Sequential.phy -text
test/data/Phylip/TooManyCounts.phy -text
test/data/Test.fasta -text
test/lib/junit-4.9b1.jar -text
test/src/info/bioinfweb/phyloio/formats/fasta/FASTAEventReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/formats/mega/MEGAEventReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/formats/phylip/PhylipEventReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/formats/phylip/SequentialPhylipEventReaderTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/test/JPhyloIOTestTools.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/test/SplitTest.java -text svneol=unset#text/plain
test/src/info/bioinfweb/phyloio/test/WhiteSpaceTest.java -text svneol=unset#text/plain
